/* Landscape phones and down */
@media (max-width: 430px) {
  /* line 4, ../sass/jan-responsive.scss */
  .error-wrap .metro {
    width: 165px;
    height: 165px;
  }

  /* line 9, ../sass/jan-responsive.scss */
  .error-wrap .metro span {
    font-size: 70px;
    padding-top: 70px;
    display: inline-block;
  }

  /* line 15, ../sass/jan-responsive.scss */
  .sidebar-scroll {
    height: auto;
    overflow: none;
    position: absolute;
    width: 97%;
    z-index: none;
  }

  /* line 23, ../sass/jan-responsive.scss */
  #header.navbar-inverse .navbar-inner {
    height: 185px !important;
  }

  /* line 27, ../sass/jan-responsive.scss */
  #main-content {
    margin: 1px !important;
  }

  /*login page*/
  /* line 33, ../sass/jan-responsive.scss */
  .login-wrap {
    width: 100%;
  }

  /* line 37, ../sass/jan-responsive.scss */
  .login-wrap .double-size, .login-wrap .single-size {
    width: 48%;
  }

  /* line 40, ../sass/jan-responsive.scss */
  .login-wrap .double-size span, .login-wrap .single-size span {
    padding: 0;
  }

  /* line 43, ../sass/jan-responsive.scss */
  .login-wrap .double-size input {
    width: 80%;
  }

  /* line 46, ../sass/jan-responsive.scss */
  .login-wrap .metro {
    margin: 0 5px 5px 0;
  }

  /*-------*/
  /*---lock page----*/
  /* line 53, ../sass/jan-responsive.scss */
  .lock .lock-wrap {
    width: 95%;
  }

  /* line 56, ../sass/jan-responsive.scss */
  .lock-wrap .single-size, .lock-wrap .double-size {
    width: 100% !important;
  }

  /* line 60, ../sass/jan-responsive.scss */
  .double-size i {
    display: block;
  }

  /*--------*/
  /* line 65, ../sass/jan-responsive.scss */
  #sidebar > ul > li > a > span {
    line-height: 35px;
  }

  /* line 69, ../sass/jan-responsive.scss */
  #sidebar > ul > li {
    margin: 0 0 1px;
  }

  /* line 72, ../sass/jan-responsive.scss */
  #sidebar > ul > li > a {
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    text-align: left;
  }

  /* line 78, ../sass/jan-responsive.scss */
  #sidebar > ul > li > a i {
    display: none !important;
  }

  /* line 82, ../sass/jan-responsive.scss */
  #sidebar ul > li > a .arrow, #sidebar > ul > li > a .arrow.open {
    margin-right: 25px;
  }

  /* line 86, ../sass/jan-responsive.scss */
  #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
    width: 100%;
  }

  /* line 89, ../sass/jan-responsive.scss */
  #sidebar > ul > li > ul.sub > li > a {
    background: transparent !important;
  }

  /* line 92, ../sass/jan-responsive.scss */
  #sidebar > ul > li > ul.sub > li > a:hover {
    background: #4A8BC2 !important;
  }

  /* line 95, ../sass/jan-responsive.scss */
  #login .lock {
    display: none !important;
  }

  /* line 98, ../sass/jan-responsive.scss */
  #login, #lock {
    width: 260px !important;
    margin: 50px auto 0 !important;
  }

  /* line 102, ../sass/jan-responsive.scss */
  #counter {
    width: 300px !important;
  }

  /* line 105, ../sass/jan-responsive.scss */
  .points {
    display: none;
  }

  /* line 108, ../sass/jan-responsive.scss */
  .countDays, .countHours, .countMinutes, .countSeconds {
    margin: 10px;
  }

  /* line 111, ../sass/jan-responsive.scss */
  .dashboard-report-li {
    float: left;
    width: 100%;
    padding: 0px !important;
  }

  /* line 116, ../sass/jan-responsive.scss */
  #header.navbar-inverse .navbar-inner {
    height: 68px !important;
  }

  /* line 119, ../sass/jan-responsive.scss */
  .navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #fff !important;
  }

  /* line 123, ../sass/jan-responsive.scss */
  .navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #FFF !important;
    border-top-color: #FFF !important;
  }

  /*metro*/
  /* line 129, ../sass/jan-responsive.scss */
  .metro-nav .metro-nav-block, .metro-nav .metro-nav-block.double {
    width: 49%;
  }

  /* line 133, ../sass/jan-responsive.scss */
  .metro-nav .metro-nav-block:last-child {
    margin-right: 1%;
  }

  /* line 136, ../sass/jan-responsive.scss */
  .metro-nav .metro-nav-block a {
    width: 94%;
  }

  /* line 140, ../sass/jan-responsive.scss */
  .metro-fix-view .metro-nav-block {
    width: 124px !important;
  }

  /* line 144, ../sass/jan-responsive.scss */
  .metro-fix-view .metro-nav-block a {
    width: 84% !important;
  }

  /*error page*/
  /* line 149, ../sass/jan-responsive.scss */
  .error-wrap.error-wrap-404 {
    width: 98%;
  }

  /* line 153, ../sass/jan-responsive.scss */
  .error-wrap.error-wrap-404 .metro {
    width: 31.2%;
  }

  /* line 156, ../sass/jan-responsive.scss */
  .error-wrap.error-wrap-404 .metro.double {
    height: 120px !important;
    width: 98% !important;
  }

  /* line 160, ../sass/jan-responsive.scss */
  .notify-row {
    display: none !important;
  }

  /* line 163, ../sass/jan-responsive.scss */
  #sidebar ul {
    margin-bottom: 0px !important;
  }

  /* line 167, ../sass/jan-responsive.scss */
  .metro-nav {
    z-index: 99 !important;
  }
}
/* Landscape phones and down */
@media (max-width: 385px) {
  /* line 175, ../sass/jan-responsive.scss */
  .sidebar-scroll {
    height: auto;
    overflow: none;
    position: absolute;
    width: 97%;
    z-index: none;
  }

  /* line 183, ../sass/jan-responsive.scss */
  #main-content {
    margin: 1px !important;
  }

  /*login page*/
  /* line 189, ../sass/jan-responsive.scss */
  .login-wrap {
    width: 100%;
  }

  /* line 193, ../sass/jan-responsive.scss */
  .login-wrap .double-size, .login-wrap .single-size {
    width: 48%;
  }

  /* line 196, ../sass/jan-responsive.scss */
  .login-wrap .double-size span, .login-wrap .single-size span {
    padding: 0;
  }

  /* line 199, ../sass/jan-responsive.scss */
  .login-wrap .double-size input {
    width: 80%;
  }

  /* line 202, ../sass/jan-responsive.scss */
  .login-wrap .metro {
    margin: 0 5px 5px 0;
  }

  /*-------*/
  /*---lock page----*/
  /* line 209, ../sass/jan-responsive.scss */
  .lock .lock-wrap {
    width: 95%;
  }

  /* line 212, ../sass/jan-responsive.scss */
  .lock-wrap .single-size, .lock-wrap .double-size {
    width: 100% !important;
  }

  /* line 216, ../sass/jan-responsive.scss */
  .double-size i {
    display: block;
  }

  /*--------*/
  /* line 221, ../sass/jan-responsive.scss */
  #sidebar > ul > li > a > span {
    line-height: 35px;
  }

  /* line 225, ../sass/jan-responsive.scss */
  #sidebar > ul > li {
    margin: 0 0 1px;
  }

  /* line 228, ../sass/jan-responsive.scss */
  #sidebar > ul > li > a {
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    text-align: left;
  }

  /* line 234, ../sass/jan-responsive.scss */
  #sidebar > ul > li > a i {
    display: none !important;
  }

  /* line 238, ../sass/jan-responsive.scss */
  #sidebar ul > li > a .arrow, #sidebar > ul > li > a .arrow.open {
    margin-right: 25px;
  }

  /* line 242, ../sass/jan-responsive.scss */
  #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
    width: 100%;
  }

  /* line 245, ../sass/jan-responsive.scss */
  #sidebar > ul > li > ul.sub > li > a {
    background: transparent !important;
  }

  /* line 248, ../sass/jan-responsive.scss */
  #sidebar > ul > li > ul.sub > li > a:hover {
    background: #4A8BC2 !important;
  }

  /* line 251, ../sass/jan-responsive.scss */
  #theme-change {
    top: 92px !important;
    right: 12px !important;
  }

  /* line 256, ../sass/jan-responsive.scss */
  #login .lock {
    display: none !important;
  }

  /* line 259, ../sass/jan-responsive.scss */
  #login, #lock {
    width: 260px !important;
    margin: 50px auto 0 !important;
  }

  /* line 263, ../sass/jan-responsive.scss */
  .m-wrap {
    width: 175px !important;
  }

  /* line 266, ../sass/jan-responsive.scss */
  #counter {
    width: 300px !important;
  }

  /* line 269, ../sass/jan-responsive.scss */
  .points {
    display: none;
  }

  /* line 272, ../sass/jan-responsive.scss */
  .countDays, .countHours, .countMinutes, .countSeconds {
    margin: 10px;
  }

  /* line 275, ../sass/jan-responsive.scss */
  #forgotform #input-email {
    width: 203px;
  }

  /* page title*/
  /* line 279, ../sass/jan-responsive.scss */
  .page-title small {
    display: block;
    margin: 0px 0px 18px 0px;
  }

  /* sidebar */
  /* line 285, ../sass/jan-responsive.scss */
  #sidebar.in {
    margin-top: 7px !important;
  }

  /* line 289, ../sass/jan-responsive.scss */
  #header .navbar-inner {
    padding-top: 0px !important;
    margin-top: 0px !important;
    height: 84px !important;
  }

  /* line 294, ../sass/jan-responsive.scss */
  .navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #242424 !important;
  }

  /* line 298, ../sass/jan-responsive.scss */
  .navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #FFF !important;
    border-top-color: #FFF !important;
  }

  /*metro*/
  /* line 304, ../sass/jan-responsive.scss */
  .metro-nav .metro-nav-block, .metro-nav .metro-nav-block.double {
    width: 49%;
  }

  /* line 308, ../sass/jan-responsive.scss */
  .metro-nav .metro-nav-block:last-child {
    margin-right: 1%;
  }

  /* line 311, ../sass/jan-responsive.scss */
  .metro-nav .metro-nav-block a {
    width: 94%;
  }

  /* line 315, ../sass/jan-responsive.scss */
  .metro-fix-view .metro-nav-block {
    width: 124px !important;
  }

  /* line 319, ../sass/jan-responsive.scss */
  .metro-fix-view .metro-nav-block a {
    width: 84% !important;
  }

  /*error page*/
  /* line 324, ../sass/jan-responsive.scss */
  .error-wrap.error-wrap-404 {
    width: 100%;
  }

  /* line 328, ../sass/jan-responsive.scss */
  .error-wrap.error-wrap-404 .metro.big, .error-wrap.error-wrap-404 .metro.double, .error-wrap.error-wrap-404 .metro {
    width: 98%;
  }

  /* line 332, ../sass/jan-responsive.scss */
  .error-wrap.error-wrap-404 .metro.double {
    height: 165px !important;
  }

  /* line 336, ../sass/jan-responsive.scss */
  .notify-row {
    display: none !important;
  }

  /* line 340, ../sass/jan-responsive.scss */
  #sidebar ul {
    margin-bottom: 0px !important;
  }

  /* line 344, ../sass/jan-responsive.scss */
  .metro-nav {
    z-index: 99 !important;
  }
}
