/* metro dashboard states */
/* line 2, ../sass/jan.scss */
.metro-nav {
  font-family: 'MyriadPro-Light';
  position: relative;
  z-index: 101;
}

/* line 8, ../sass/jan.scss */
.metro-nav .nav-block-orange {
  background: #f37b53;
}

/* line 12, ../sass/jan.scss */
.metro-nav .nav-block-yellow {
  background: #FFB400;
}

/* line 16, ../sass/jan.scss */
.metro-nav .nav-block-blue {
  background: #0DAED3;
}

/* line 20, ../sass/jan.scss */
.metro-nav .nav-block-green {
  background: #74B749;
}

/* line 24, ../sass/jan.scss */
.metro-nav .nav-block-red {
  background: #de577b;
}

/* line 28, ../sass/jan.scss */
.metro-nav .nav-block-purple {
  background: #9d4a9c;
}

/* line 31, ../sass/jan.scss */
.metro-nav .nav-block-grey {
  background: #77808a;
}

/*---new add--*/
/* line 35, ../sass/jan.scss */
.metro-nav .nav-light-blue {
  background: #61b9ff;
}

/* line 38, ../sass/jan.scss */
.metro-nav .nav-light-green {
  background: #00a489;
}

/* line 41, ../sass/jan.scss */
.metro-nav .nav-deep-terques {
  background: #0bc0cb;
}

/* line 44, ../sass/jan.scss */
.metro-nav .nav-light-purple {
  background: #847cc5;
}

/* line 47, ../sass/jan.scss */
.metro-nav .nav-light-yellow {
  background: #e5bc64;
}

/* line 50, ../sass/jan.scss */
.metro-nav .nav-deep-gray {
  background: #434343;
}

/* line 53, ../sass/jan.scss */
.metro-nav .nav-light-brown {
  background: #ab8465;
}

/* line 56, ../sass/jan.scss */
.metro-nav .nav-deep-red {
  background: #b33062;
}

/* line 59, ../sass/jan.scss */
.metro-nav .nav-olive {
  background: #959801;
}

/* line 62, ../sass/jan.scss */
.metro-nav .nav-deep-thistle {
  background: #9e7698;
}

/* line 66, ../sass/jan.scss */
.metro-fix-view .metro-nav-block.double {
  width: 251px !important;
}

/* line 70, ../sass/jan.scss */
.metro-fix-view .metro-nav-block.long {
  width: 251px !important;
  height: 235px !important;
}

/* line 75, ../sass/jan.scss */
.metro-fix-view .metro-nav-block.long .value {
  padding-top: 30px !important;
  display: inline-block;
}

/* line 80, ../sass/jan.scss */
.metro-fix-view .metro-nav-block.long .value i {
  font-size: 90px;
}

/* line 84, ../sass/jan.scss */
.metro-fix-view .metro-nav-block {
  color: white;
  cursor: pointer;
  display: block;
  float: left;
  font-weight: 300;
  height: 120px;
  letter-spacing: 0.02em;
  line-height: 20px;
  margin: 0 1% 1% 0;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: 120px !important;
  z-index: 1;
}

/* line 102, ../sass/jan.scss */
.metro-nav .metro-nav-block.double {
  width: 28%;
}

/* line 106, ../sass/jan.scss */
.metro-nav .metro-nav-block {
  color: white;
  cursor: pointer;
  display: block;
  float: left;
  font-weight: 300;
  height: 114px;
  letter-spacing: 0.02em;
  line-height: 20px;
  margin: 0 1% 1% 0;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: 17%;
  z-index: 1;
}

/* line 123, ../sass/jan.scss */
.metro-nav .metro-nav-block i {
  font-size: 50px;
  margin-top: 20px;
  display: inline-block;
}

/* line 129, ../sass/jan.scss */
.metro-nav .metro-nav-block:last-child {
  margin-right: 0;
}

/* line 133, ../sass/jan.scss */
.metro-nav .metro-nav-block a {
  color: white;
  font-size: 18px;
  font-weight: 400;
  height: 90%;
  line-height: 16px;
  overflow: hidden;
  padding: 5px 10px;
  position: absolute;
  text-overflow: ellipsis;
  vertical-align: top;
  width: 88%;
  text-decoration: none;
}

/* line 148, ../sass/jan.scss */
.metro-nav .metro-nav-block a i {
  transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
}

/* line 155, ../sass/jan.scss */
.metro-nav .metro-nav-block a .info {
  transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}

/* line 162, ../sass/jan.scss */
.metro-nav .metro-nav-block a:hover i {
  transform: rotate(83deg);
  -moz-transform: rotate(83deg);
  -webkit-transform: rotate(83deg);
  -o-transform: rotate(83deg);
  font-size: 140px;
  opacity: 0.2;
}

/* line 171, ../sass/jan.scss */
.metro-nav .metro-nav-block.long a:hover i {
  font-size: 200px;
}

/* line 175, ../sass/jan.scss */
.metro-nav .metro-nav-block.long a {
  height: 96%;
}

/* line 178, ../sass/jan.scss */
.metro-nav .metro-nav-block a:hover .info {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  font-size: 40px;
  opacity: 0.6;
}

/* line 187, ../sass/jan.scss */
.metro-nav .metro-nav-block:hover {
  opacity: 0.8;
}

/* line 191, ../sass/jan.scss */
.metro-nav .metro-nav-block.double a {
  width: 94%;
}

/* line 195, ../sass/jan.scss */
.metro-nav .metro-nav-block .info {
  font-size: 24px;
  position: absolute;
  right: 10px;
  top: 45px;
}

/* line 202, ../sass/jan.scss */
.metro-nav .metro-nav-block .status, .metro-nav .metro-nav-block .tile-status {
  background-color: transparent;
  bottom: -10px;
  font-size: 14px;
  left: 10px;
  min-height: 30px;
  position: absolute;
}

/* Widget Boxes */
/* widget container */
/* line 213, ../sass/jan.scss */
.sortable .widget .widget-title {
  cursor: move;
}

/* line 217, ../sass/jan.scss */
.sortable-box-placeholder {
  background-color: #f5f5f5;
  border: 1px dashed #DDDDDD;
  display: block;
  margin-top: 0px !important;
  margin-left: 1%;
  margin-right: 0.6%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 228, ../sass/jan.scss */
.sortable-box-placeholder * {
  visibility: hidden;
}

/* line 232, ../sass/jan.scss */
.widget {
  background: #fff;
  clear: both;
  margin-bottom: 20px;
  margin-top: 0;
  border: 1px solid #404040;
}

/* line 240, ../sass/jan.scss */
.widget-title {
  background: #404040;
  height: 36px;
}

/* line 245, ../sass/jan.scss */
.widget.green {
  border: 1px solid #74B749;
}

/* line 248, ../sass/jan.scss */
.widget.green .widget-title {
  background: #74B749;
}

/* line 252, ../sass/jan.scss */
.widget.blue {
  border: 1px solid #4A8BC2;
}

/* line 255, ../sass/jan.scss */
.widget.blue .widget-title {
  background: #4A8BC2;
}

/* line 259, ../sass/jan.scss */
.widget.purple {
  border: 1px solid #9D4A9C;
}

/* line 262, ../sass/jan.scss */
.widget.purple .widget-title {
  background: #9D4A9C;
}

/* line 266, ../sass/jan.scss */
.widget.yellow {
  border: 1px solid #FFB400;
}

/* line 269, ../sass/jan.scss */
.widget.yellow .widget-title {
  background: #FFB400;
}

/* line 273, ../sass/jan.scss */
.widget.orange {
  border: 1px solid #F37B53;
}

/* line 276, ../sass/jan.scss */
.widget.orange .widget-title {
  background: #F37B53;
}

/* line 280, ../sass/jan.scss */
.widget.red {
  border: 1px solid #DE577B;
}

/* line 283, ../sass/jan.scss */
.widget.red .widget-title {
  background: #DE577B;
}

/*gray full*/
/* line 289, ../sass/jan.scss */
.widget.gray-full {
  border: 1px solid #575757;
}

/* line 292, ../sass/jan.scss */
.widget.gray-full .widget-title, .widget.gray-full .widget-body {
  background: #575757;
  color: #fff;
}

/*purple full*/
/* line 299, ../sass/jan.scss */
.widget.purple-full {
  border: 1px solid #9D4A9C;
}

/* line 302, ../sass/jan.scss */
.widget.purple-full .widget-title, .widget.purple-full .widget-body {
  background: #9D4A9C;
  color: #fff;
}

/*yellow full*/
/* line 309, ../sass/jan.scss */
.widget.yellow-full {
  border: 1px solid #FFB400;
}

/* line 312, ../sass/jan.scss */
.widget.yellow-full .widget-title, .widget.yellow-full .widget-body {
  background: #FFB400;
  color: #fff;
}

/*blue full*/
/* line 319, ../sass/jan.scss */
.widget.blue-full {
  border: 1px solid #4A8BC2;
}

/* line 322, ../sass/jan.scss */
.widget.blue-full .widget-title, .widget.blue-full .widget-body {
  background: #4A8BC2;
  color: #fff;
}

/*red full*/
/* line 328, ../sass/jan.scss */
.widget.red-full {
  border: 1px solid #DE577B;
}

/* line 331, ../sass/jan.scss */
.widget.red-full .widget-title, .widget.red-full .widget-body {
  background: #DE577B;
  color: #fff;
}

/*green full*/
/* line 337, ../sass/jan.scss */
.widget.green-full {
  border: 1px solid #74B749;
}

/* line 340, ../sass/jan.scss */
.widget.green-full .widget-title, .widget.green-full .widget-body {
  background: #74B749;
  color: #fff;
}

/*white full*/
/* line 346, ../sass/jan.scss */
.widget.white-full {
  border: 1px solid #fff;
}

/* line 350, ../sass/jan.scss */
.widget.white-full .widget-title {
  border-bottom: 1px solid #ccc;
  color: #404040;
}

/* line 355, ../sass/jan.scss */
.widget.white-full .widget-title h4 {
  color: #404040;
  padding-left: 0;
}

/* line 359, ../sass/jan.scss */
.widget.white-full .tools a {
  color: #ccc;
}

/* line 362, ../sass/jan.scss */
.widget.white-full .widget-title, .widget.white-full .widget-body {
  background: #fff;
}

/* line 365, ../sass/jan.scss */
.widget.white-full .widget-body, .widget.white-full .widget-title .actions {
  padding-left: 0;
  padding-right: 0;
}

/*-------*/
/* line 371, ../sass/jan.scss */
.widget-title > h4 {
  float: left;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 11px 10px 15px;
  line-height: 12px;
  margin: 0;
  font-family: 'MyriadPro-Regular';
}

/* line 381, ../sass/jan.scss */
.widget-title > h4 i {
  font-size: 14px;
  margin-right: 2px;
}

/* line 386, ../sass/jan.scss */
.widget-title span.tools {
  float: right;
  margin: 2px 0 0;
  padding: 6px 5px 6px 10px;
}

/* line 392, ../sass/jan.scss */
.widget-title span.tools > a {
  display: inline-block;
  margin-right: 5px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

/* line 400, ../sass/jan.scss */
.widget-title span.tools > a:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: .7;
}

/* line 410, ../sass/jan.scss */
.widget-title .btn-group {
  margin-right: 5px;
  margin-top: -2px;
}

/* line 415, ../sass/jan.scss */
.widget-title .btn-group .caret {
  margin-top: 8px;
  margin-left: 3px;
}

/* line 420, ../sass/jan.scss */
.widget-body {
  padding: 15px 15px;
}

/* line 424, ../sass/jan.scss */
.span12 {
  width: 940px;
}

/* line 428, ../sass/jan.scss */
.span11 {
  width: 860px;
}

/* line 432, ../sass/jan.scss */
.span10 {
  width: 780px;
}

/* line 436, ../sass/jan.scss */
.span9 {
  width: 700px;
}

/* line 440, ../sass/jan.scss */
.span8 {
  width: 620px;
}

/* line 444, ../sass/jan.scss */
.span7 {
  width: 540px;
}

/* line 448, ../sass/jan.scss */
.span6 {
  width: 460px;
}

/* line 452, ../sass/jan.scss */
.span5 {
  width: 380px;
}

/* line 456, ../sass/jan.scss */
.span4 {
  width: 300px;
}

/* line 460, ../sass/jan.scss */
.span3 {
  width: 220px;
}

/* line 464, ../sass/jan.scss */
.span2 {
  width: 140px;
}

/* line 468, ../sass/jan.scss */
.span1 {
  width: 60px;
}

/* line 471, ../sass/jan.scss */
.rjd-container {
  display: flex;
}

/* line 475, ../sass/jan.scss */
.rjd1 {
  width: 63%;
  border: 1px solid green;
  margin-right: 10px;
}

/* line 480, ../sass/jan.scss */
.rjd-container2 {
  display: flex;
  margin-top: 10px;
}

/* line 484, ../sass/jan.scss */
.rjd1-header {
  width: 100%;
  height: 30px;
  background: green;
  margin-right: 10px;
}

/* line 490, ../sass/jan.scss */
.rjd1-header i {
  padding: 5px 5px 5px 5px;
}

/* line 493, ../sass/jan.scss */
.rjd1-body {
  width: 100%;
  height: 370px;
  margin-right: 12px;
}

/* line 498, ../sass/jan.scss */
.rjd2 {
  width: 37%;
  border: 1px solid orange;
}

/* line 502, ../sass/jan.scss */
.rjd2-header {
  width: 100%;
  height: 30px;
  background: orange;
  margin-right: 10px;
}

/* line 508, ../sass/jan.scss */
.rjd2-body {
  width: 100%;
  height: 370px;
  margin-right: 10px;
}

/* line 513, ../sass/jan.scss */
.rjd-content {
  border: 1px solid blue;
  width: 100%;
  margin-bottom: 20px;
}

/* line 518, ../sass/jan.scss */
.content-header {
  width: 100%;
  height: 30px;
  background: #3D9AE4;
}

/* line 523, ../sass/jan.scss */
.content-body {
  width: 100%;
  height: 370px;
}
