/* Landscape phones and down */
@media (max-width: 430px) {

    .error-wrap .metro {
        width: 165px;
        height: 165px;
    }

    .error-wrap .metro span {
        font-size: 70px;
        padding-top: 70px;
        display: inline-block;
    }

    .sidebar-scroll {
        height: auto;
        overflow: none;
        position: absolute;
        width: 97%;
        z-index: none;
    }

    #header.navbar-inverse .navbar-inner {
        height: 185px !important;
    }

    #main-content {
        margin: 1px !important;
    }

    /*login page*/

    .login-wrap {
        width: 100%;
    }

    .login-wrap .double-size, .login-wrap .single-size {
        width: 48%;
    }
    .login-wrap .double-size span, .login-wrap .single-size span {
        padding: 0;
    }
    .login-wrap .double-size input {
        width: 80%;
    }
    .login-wrap .metro {
        margin: 0 5px 5px 0;
    }
    /*-------*/

    /*---lock page----*/

    .lock .lock-wrap {
        width: 95%;
    }
    .lock-wrap .single-size, .lock-wrap .double-size {
        width: 100% !important;
    }

    .double-size i {
        display: block;
    }
    /*--------*/

    #sidebar > ul > li > a > span {
        line-height: 35px;
    }

    #sidebar > ul > li {
        margin: 0 0 1px;
    }
    #sidebar > ul > li > a {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        text-align: left;
    }
    #sidebar > ul > li > a i{
        display: none !important;
    }

    #sidebar ul > li > a .arrow, #sidebar > ul > li > a .arrow.open {
        margin-right: 25px;

    }
    #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
        width: 100%;
    }
    #sidebar > ul > li > ul.sub > li > a {
        background: transparent !important ;
    }
    #sidebar > ul > li > ul.sub > li > a:hover {
        background: #4A8BC2 !important ;
    }
    #login .lock{
        display: none !important;
    }
    #login, #lock {
        width: 260px !important;
        margin: 50px auto 0 !important;
    }
    #counter {
        width: 300px !important;
    }
    .points {
        display: none ;
    }
    .countDays, .countHours, .countMinutes, .countSeconds {
        margin: 10px;
    }
    .dashboard-report-li {
        float: left;
        width: 100%;
        padding: 0px !important;
    }
    #header.navbar-inverse .navbar-inner {
        height: 68px !important;
    }
    .navbar-inverse .brand, .navbar-inverse .nav > li > a{
        color: #fff !important;
    }

    .navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
        border-bottom-color: #FFF !important;
        border-top-color: #FFF !important;
    }
    /*metro*/

    .metro-nav .metro-nav-block, .metro-nav .metro-nav-block.double {
        width: 49%;
    }

    .metro-nav .metro-nav-block:last-child {
        margin-right: 1%;
    }
    .metro-nav .metro-nav-block a {
        width: 94%;
    }

    .metro-fix-view .metro-nav-block {
        width: 124px !important;
    }

    .metro-fix-view .metro-nav-block a {
        width: 84% !important;
    }
    /*error page*/

    .error-wrap.error-wrap-404 {
        width: 98%;
    }

    .error-wrap.error-wrap-404 .metro {
        width: 31.2%;
    }
    .error-wrap.error-wrap-404 .metro.double {
        height: 120px !important;
        width: 98% !important;
    }
    .notify-row {
        display: none !important;
    }
    #sidebar ul{
        margin-bottom:0px !important;
    }

    .metro-nav {
        z-index: 99 !important;
    }
}

/* Landscape phones and down */
@media (max-width: 385px) {

    .sidebar-scroll {
        height: auto;
        overflow: none;
        position: absolute;
        width: 97%;
        z-index: none;
    }

    #main-content {
        margin: 1px !important;
    }

    /*login page*/

    .login-wrap {
        width: 100%;
    }

    .login-wrap .double-size, .login-wrap .single-size {
        width: 48%;
    }
    .login-wrap .double-size span, .login-wrap .single-size span {
        padding: 0;
    }
    .login-wrap .double-size input {
        width: 80%;
    }
    .login-wrap .metro {
        margin: 0 5px 5px 0;
    }
    /*-------*/

    /*---lock page----*/

    .lock .lock-wrap {
        width: 95%;
    }
    .lock-wrap .single-size, .lock-wrap .double-size {
        width: 100% !important;
    }

    .double-size i {
        display: block;
    }
    /*--------*/

    #sidebar > ul > li > a > span {
        line-height: 35px;
    }

    #sidebar > ul > li {
        margin: 0 0 1px;
    }
    #sidebar > ul > li > a {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        text-align: left;
    }
    #sidebar > ul > li > a i{
        display: none !important;
    }

    #sidebar ul > li > a .arrow, #sidebar > ul > li > a .arrow.open {
        margin-right: 25px;

    }
    #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
        width: 100%;
    }
    #sidebar > ul > li > ul.sub > li > a {
        background: transparent !important ;
    }
    #sidebar > ul > li > ul.sub > li > a:hover {
        background: #4A8BC2 !important ;
    }
    #theme-change {
        top:92px !important;
        right:12px !important;
    }

    #login .lock{
        display: none !important;
    }
    #login, #lock {
        width: 260px !important;
        margin: 50px auto 0 !important;
    }
    .m-wrap {
        width: 175px !important;
    }
    #counter {
        width: 300px !important;
    }
    .points {
        display: none ;
    }
    .countDays, .countHours, .countMinutes, .countSeconds {
        margin: 10px;
    }
    #forgotform #input-email {
        width: 203px;
    }
    /* page title*/
    .page-title small {
        display: block;
        margin: 0px 0px 18px 0px;
    }

    /* sidebar */
    #sidebar.in {
        margin-top: 7px !important;
    }

    #header .navbar-inner {
        padding-top: 0px !important;
        margin-top: 0px !important;
        height: 84px !important;
    }
    .navbar-inverse .brand, .navbar-inverse .nav > li > a{
        color: #242424 !important;
    }

    .navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
        border-bottom-color: #FFF !important;
        border-top-color: #FFF !important;
    }
    /*metro*/

    .metro-nav .metro-nav-block, .metro-nav .metro-nav-block.double {
        width: 49%;
    }

    .metro-nav .metro-nav-block:last-child {
        margin-right: 1%;
    }
    .metro-nav .metro-nav-block a {
        width: 94%;
    }

    .metro-fix-view .metro-nav-block {
        width: 124px !important;
    }

    .metro-fix-view .metro-nav-block a {
        width: 84% !important;
    }
    /*error page*/

    .error-wrap.error-wrap-404 {
        width: 100%;
    }

    .error-wrap.error-wrap-404 .metro.big, .error-wrap.error-wrap-404 .metro.double, .error-wrap.error-wrap-404 .metro {
        width: 98%;
    }

    .error-wrap.error-wrap-404 .metro.double {
        height: 165px !important;
    }

    .notify-row {
        display: none !important;
    }

    #sidebar ul{
        margin-bottom:0px !important;
    }

    .metro-nav {
        z-index: 99 !important;
    }
} 